{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "config": "./config/index.js",
          "components": "./components",
          "pages": "./pages",
          "redux-state": "./redux_state",
          "themes": "./themes",
          "utils": "./utils",
          "wrappers": "./wrappers"
        }
      }
    ]
  ],
}
